<div class="mainScreen" style="font-family: 'Montserrat'">
  <div class="container " style=" ">
    
    <div class="row ">
      <div class="col-12 my-5">
        <h1 class="text-white text-center titleEfect" style="font-family: 500; color: #F1CB00!important;" >Comunidad Liceina de Acción, Servicio y Honor.</h1>

      </div>

      <div class="divSelect mb-5" >

      <div class="col-xxl-5 col-xl-4 col-lg-6 col-md-9 col-12">
        <div class="card shadow " style="border: none;">
          <img src="../assets/img/backForm2.png" class="card-img-top shadow-lg" alt="...">
          <div class="card-body">
            <h4 class="fw-bold text-center " >Únete a las mejores propuestas - Lista 1</h4>
            <p class="card-text text-center">Regístrate y participa en el sorteo de premios de nuestros auspiciantes</p>
            <form [formGroup]="formRegister">
              <div class="row">
                <div class="divSelect">
                  <div class="col-11">
                    <div class="contenido3">
                      <label for="">Nombres</label>
                      <input  formControlName="nombres" class="form-control form-control-md rounded-2 shadow-sm "
                      type="text"  placeholder="Ingrese nombres y apellidos">
                    </div>
                  </div>
                </div>
                <div class="divSelect mt-2">
  
                <div class="col-11">
                  <div class="contenido3">
                    <label for="">Teléfono</label>
                    <input  formControlName="telefono"   class="form-control form-control-md rounded-2   shadow-sm"
                    type="number" placeholder="Ingrese un número de teléfono"
                   >
                  </div>
                </div>
                </div>
  
                <div class="divSelect mt-4">
  
                <div class="col-6 d-grid">
                 <button [disabled]="formRegister.invalid" (click)="saveStudent(formRegister.value)" class="btn btn-md rounded-2 shadow-lg  text-white fw-bold" style="background-color: #dc303e ;" > Regístrate</button>
                </div>
                </div>
  
                <div class="col-12 mt-5">
                  <img src="../assets/img/premios.jpg" style="object-fit: fill; width: 95%;" alt="">
                </div>
                <div class="col-12 my-5" >
                  <h5 class="text-center fw-bold " >Auspiciantes</h5>
                  <swiper-container class="mySwiper" slides-per-view="3" speed="500" loop="true" css-mode="true"  autoplay="true"  navigation="false"
                  >
                  <swiper-slide  class="" >            
                    <img src="../assets/img/cinemas.png" class="imgAuspiciante"  alt="">
                  </swiper-slide>
                  <swiper-slide  class="" >            
                    <img src="../assets/img/PuntoPumes.png" class="imgAuspiciante" style=" " alt="">
                  </swiper-slide>
                  <swiper-slide  class="" >            
                    <img src="../assets/img/forestea.png" class="imgAuspiciante" alt="">
                  </swiper-slide>
                  <swiper-slide  class="" >            
                    <img src="../assets/img/MasterPC.png"  class="imgAuspiciante" alt="">
                  </swiper-slide>
                  <swiper-slide  class="" >            
                    <img src="../assets/img/logoLiceo.png"  class="imgAuspiciante" alt="">
                  </swiper-slide>
  
                  </swiper-container>
                </div>
              </div>
            </form>
          </div>
        </div>
        </div>

      </div>
    </div>
  </div>
</div>

<app-loader [loader]="loader"></app-loader>